@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;

  --green: rgb(54, 220, 164);
  --blue: rgb(8, 50, 68);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
