.container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--blue);
}

.main {
  height: 100%;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.grid {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--green);
}

.grid > span {
  margin-bottom: 1rem;
}

.grid #logo {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.grid .logo {
  display: flex;
  flex-direction: column;
}

.grid .intro {
  display: flex;
  flex-direction: column;
}


.buttonContainer {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeButton {
  width: 15rem;
  height: 2rem;
  margin-bottom: .5rem;
  display: flex;
  border-radius: .2rem;
  justify-content: space-around;
  align-items: center;
  background-color: var(--green);
}

.homeButton a,
#tourButton a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

#tourButton {
  display: flex;
  width: 15rem;
  height: 2rem;
  color: rgb(54, 220, 164);
  border: 1px solid var(--green);
  border-radius: .2rem;
}

.footer {
  margin: 0;
  padding: 0;
  text-align: center;

}

.footer p {
  margin: 0;
  padding: 0;
  color: gray;
}

@media (min-width: 800px) {
  .main {
    display: flex;
    flex-direction: row;
  }
  .grid {
    font-size: 1.5rem;

    width: 100vw;
    margin: 0;
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    color: var(--green);
  }

  .grid .logo {
    display: flex;
    flex-direction: column;
  }

  .grid .intro {
    display: flex;
    flex-direction: column;
  }

  .grid #logo {
    margin: 0 1rem;
  }
  
  #logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  
  .buttonContainer {
    width: 90vw;
    display: flex;
    flex-direction: column;
  }
  
  .homeButton {
    width: 20rem;
    height: 3rem;
    margin: .5rem 0;
    display: flex;
    border-radius: .2rem;
    justify-content: space-around;
    align-items: center;
    background-color: var(--green);
  }
  
  .homeButton a,
  #tourButton a {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  #tourButton {
    display: flex;
    width: 20rem;
    height: 3rem;
    margin-top: .5rem;
    color: rgb(54, 220, 164);
    border: 1px solid var(--green);
    border-radius: .2rem;
  }
}
